<h2>Cart {{id}}:</h2>
<dl>
    <ul>
    {{#each product}}
    <div id={{id}}>
    <li><dt><b>{{title}}</b></dt></li>
    <dd>Description: {{description}}</dd>
    <dd>Quantity: {{quantity}}</dd>
    <dd>Id: {{id}}</dd>
    </div>
    {{/each}}
    </ul>
</dl>
<p>{{#if hasPrev}}<a href="{{prevUrl}}">Previous Page   </a>{{/if}}{{#if hasNext}}<a href="{{nextUrl}}">Next Page</a>{{/if}}</p>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>